<% content_for :javascript_includes do %>
  <%= javascript_pack_tag "finish_booking.js" %>
<% end %>

<div class="container" style="margin-top: 10px">
  <div class="titile">
    <h3>
      <i class="far fa-user"></i> THÔNG TIN THANH TOÁN
    </h3>
  </div>
  <div class="wraper-content">
    <div class="infor-user">
      <div class="row">
        <div class="col-md-4">
          <h6>Họ tên:</h6>
          <span><%= current_customer.name %></span>
        </div>
        <div class="col-md-4">
          <h6>Số điện thoại:</h6>
          <span><%= current_customer.phone_number %></span>
        </div>
        <div class="col-md-4">
          <h6>Email:</h6>
          <span><%= current_customer.email %></span>
        </div>
      </div>
    </div>
    <div class="infor-ticket">
      <div class="room-infor">
        <h5 class="room-detail" data-room="<%= @room.id %>"> Phòng: <%= @room.name %> </h5>
        <h5> Phim: <%= @film_name %></h5>
      </div>
      <div class="title-seate">
        <span class="title">GHẾ VIP</span>
      </div>
      <div class="total-pice" data-seats="<%= @list_seats.pluck(:id) %>">
        <% @list_seats.each do |seat| %>
          <span class="btn btn-result btn-primary" style="margin-left: 3px">
            <%= seat.name %>
          </span>
        <% end %>
        = <span class="pay-price" data-price="<%= @total_price %>"> <%= @total_price %> <span> VND
      </div>
      <div class="finish-booking">
        <%= link_to "Kết thúc thanh toán", "/",
          class: "btn btn-finish-booking btn-secondary",
          style: "margin-top: 20px"
        %>
      </div>
    </div>
  </div>
</div>
